<div class="flex flex-col justify-center mx-2 mt-3 mb-5 max-w-full">
    <h2 class="text-2xl font-bold mx-auto max-w-full px-2">About</h2>
    <div class ="bg-white mt-1 border rounded-lg px-6 py-3 md:mx-auto md:w-6/12 max-w-full">
        <h3 class="text-xl text-center">Welcome to Spotifly! The purpose of this site is to create, share, and explore exercise routines made by users like you!</h3>
        
        <div class="mt-3">
            <h3>How to get started:</h3>
            <ol class="list-decimal mx-9">
                <li>Create an account</li>
                <li>Create a routine (you'll find a new navigation option once you login)</li>
                <li>Navigate to Exercise DB and search for one to add to a routine</li>
                <li>Select a routine and click the Add button</li>
                <li>Keep adding exercises until you've got one to take with you to the gym!</li>
                <li>Not feeling creative? Explore the home page and see what others have made</li>
            </ol>
        </div>
        <div class="mt-3">
            <h3>About me:</h3>
            <div class="px-4">
                <p>
                    &emsp; Hi there! I'm Jason and I made this web app during my time at General Assembly's Software Engineering Immersive course. Working out at the gym 
                    has always been an important hobby of mine. I've made so many friends through training together on a regular basis and also learned a lot about 
                    the different exercises/methods. Especially now as someone who will code for hours at a time, I believe it's important to take a mental break, 
                    push some heavy weights, and work on keeping myself in shape.
                </p>
                <p>
                    &emsp; That's why my vision for this site is to allow users to create and keep track of day-to-day exercise routines and store them on their profiles. 
                    This way, they can look back on a given day to go down the list and not have to memorize everything. Or, something that I found needing to do 
                    occasionally, users can share the link of the routine they created with friends or a client (in the perspective of a trainer). All routines are 
                    public and users can explore them on the home page. Get up and go gym!
                </p>
            </div>
        </div>

        <div class="mt-3">
            <h3>FAQ:</h3>
            <div class="px-4">
                <p>Q: Do I have to have an account?</p>
                <p>A: You won't need an account to browse existing routines or the exercise database, but you will need one for all other functionalities.</p>

                <p class="mt-2">Q: Why is it called Spotifly?</p>
                <p>
                    A: It's a combination of two ideas. Firstly, "spot" comes from a gym terminology where one "spots" an individual performing an exercise by saving them if they fail a repetition. 
                    Secondly, "fly" comes from the perception at the gym where if one has trained their latissimus dorsi muscle, they seem to have "wings."
                </p>
                <p class="px-4 text-xs text-gray-500">plus, there's no way I can get through my workouts without a good playlist (shout out to Spotify)</p>

                <p class="mt-2">Q: What is wger Workout Manager?</p>
                <p>A: <a href="https://wger.de/en/software/api" class="text-blue-500">wger</a> is a REST API that provides the list of exercises you see on the Exercise DB page.</p>
            </div>
        </div>

        <a href="https://github.com/JasonXChen/spotifly" class="block mt-2 text-center text-blue-500">Github</a>
    </div>
</div>
