<h2 class="flex justify-center">Explore:</h2>

<% routines.forEach(routine => { %>
    <div class ="flex justify-center">
        <h3><a href="/routines/<%= routine.id %>"><%= routine.title %> by <%= routine.user.username %></a></h3>
        <p><%= routine.description %></p>
    </div>
<% }) %>
