<div class="flex flex-col justify-center mx-2 mt-3 mb-5 max-w-full">
    <div class ="bg-white border rounded-lg px-4 py-1 md:mx-auto md:w-3/12 max-w-full">
        <% if (message) { %>
            <p class="mt-3 text-red-500 text-sm"><%= message %></p>
        <% } %> 
        <form action="/routines" method="POST">
            <div class="mt-3 flex flex-col">
                <label for="title">Title:</label>
                <input id="title" type="text" name="title" class="mt-1 border rounded text-clip px-2 py-1" required>
            </div>
            <div class="mt-3 flex flex-col">
                <label for="description">Description:</label>
                <textarea id="description" type="text" name="description" rows="4" class="mt-1 border rounded px-2 py-1"></textarea>
            </div>
            <button type="submit" class="my-4 px-2 py-1 bg-blue-500 rounded text-white text-sm w-full">Create</button>
        </form>
    </div>
</div>