<div class="flex flex-col justify-center mx-2 max-w-full">
    <h2 class="text-2xl mt-2 md:mx-auto max-w-full px-2">Sign in to Spotifly</h2>
    <div class ="bg-white mt-3 border rounded-lg px-4 py-1 md:mx-auto md:w-3/12 max-w-full">
        <% if (message) { %>
            <p class="text-red-500 mt-3"><%= message %></p>
        <% } %> 
        <form action="/users/login" method="POST">
            <div class="mt-3 flex flex-col">
                <label for="user-or-email">Username or email address:</label>
                <input id="user-or-email" type="text" name="userOrEmail" class="mt-1 border rounded text-clip px-2 py-1" required>
            </div>
            <div class="mt-3 flex flex-col">
                <label for="password">Password:</label>
                <input id="password" type="password" name="password" class="mt-1 border rounded text-clip px-2 py-1" required>
            </div>
            <button type="submit" class="my-4 px-2 py-1 bg-blue-500 rounded text-white text-sm w-full">Sign In</button>
        </form>
    </div>
    <div class ="mt-3 border rounded-lg px-4 py-1 md:mx-auto md:w-3/12 max-w-full">
        <p class="text-center">New to Spotifly? <a href="/signup" class="text-blue-500 hover:underline">Create an account</a>.</p>
    </div>
</div>
