<div class="flex flex-col justify-center mx-2 max-w-full">
    <h2 class="text-2xl mt-2 md:mx-auto max-w-full px-2">Create an account</h2>
    <div class ="bg-white mt-3 border rounded-lg px-4 py-1 md:mx-auto md:w-3/12 max-w-full">
        <form action="/users" method="POST">
            <div class="mt-3 flex flex-col">
                <label for="username">Username:</label>
                <input id="username" type="text" name="username" class="mt-1 border rounded text-clip px-2 py-1" maxlength="32" onkeydown="return /[a-zA-Z0-9]/i.test(event.key)" required>
            </div>
            <div class="mt-3 flex flex-col">
                <label for="email">Email:</label>
                <input id="email" type="email" name="email" class="mt-1 border rounded text-clip px-2 py-1" required>
            </div>
            <div class="mt-3 flex flex-col">
                <label for="password">Password:</label>
                <input id="password" type="password" name="password" class="mt-1 border rounded text-clip px-2 py-1" required>
            </div>
            <button type="submit" class="my-4 px-2 py-1 bg-blue-500 rounded text-white text-sm w-full">Sign Up</button>
        </form>
    </div>
    <div class ="mt-3 border rounded-lg px-4 py-1 md:mx-auto md:w-3/12 max-w-full">
        <p class="text-center">Already have an account? <a href="/login" class="text-blue-500 hover:underline">Sign in</a>.</p>
    </div>
</div>